<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
    <h1>Welcome to the Application</h1>
    <div>
        <a href="/manager"><button>Manager</button></a>
        <a href="/employee"><button>Employee</button></a>
        <a href="/customer"><button>Customer</button></a>
        <a href="/recipe"><button>Recipe</button></a>
    </div>
</body>
</html>
